[init]
	defaultBranch = main
[user]
	name = Laika
	email = 36010519+its-laika@users.noreply.github.com
	signingkey = ...
[core]
	editor = vim
	autocrlf = input
[advice]
	detachedHead = false
[alias]
	recent = "!f() { count=${1-10}; git for-each-ref --count=$count --sort=-committerdate refs/heads --format='%(HEAD)%(color:yellow)%(refname:short)|%(color:bold green)%(committerdate:relative)|%(color:blue)%(subject)|%(color:magenta)%(authorname)%(color:reset)' --color=always|column -ts'|'; }; f"
	current = "branch --show-current"
	fresh = "!f() { git stash; if [ -n "$1" ]; then git fetch; git checkout "$1"; fi; git pull --rebase; }; f"
	markdown-log="log --format='**%s**%n%n%b%n----%n' --reverse"
	push-all = "!f() { for remote in `git remote`; do printf "$remote: "; git push " $remote $(git branch --show-current) ${@:2}"; done; }; f"
	pull-all = "!f() { for remote in `git remote`; do git pull " $remote $(git branch --show-current) ${@:2}"; done; }; f"
[push]
	autoSetupRemote = true
[gpg]
	format = ssh
